#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&studio_unlock  &kp B         &kp C         &bootloader
&kp E           &kp F         &kp G         &kp H
&kp I           &kp J         &kp K         &kp L
&bt BT_CLR_ALL  &bt BT_SEL 0  &out OUT_TOG  &sys_reset
            >;
        };
    };
};
